

<form style="margin-left: 500px;">
  <h3 style="color: #009acd;">Modifier Department</h3>
<div>
  <input type="text" id="prenom" placeholder="ID Département" [(ngModel)]="currentDepartement.idDep" name="idDep" class="form-control"/>
       <label for="prenom">ID Département</label>
</div>
<div>
  <input type="text" id="mail" placeholder="Nom"  [(ngModel)]="currentDepartement.nomDep" name="nomDep" class="form-control"/>
       <label for="mail">Nom</label>
</div>
<div>
 <input type="text" id="6" placeholder="Description" [(ngModel)]="currentDepartement.descriptionDep" name="descriptionDep" class="form-control"/>
       <label for="6">Description</label>
</div>
 <br>
<input class="button" type="submit" value="Envoyer" (click)="updateDepartement()"/>
</form>

