<!-- <div class="row justify-content-md-center">
    <div class="col-md-4">
    <div class="alert alert-danger" *ngIf="erreur==1">
    <strong>login ou mot de passe erronés..</strong>
    </div>
    <form >
    <div class="form-group">
    <label >Nom Utilisateur :</label>
    <input type="text" name="username"
    class="form-control"
    [(ngModel)]="user.username" >
    </div>
    <div class="form-group">
    <label >Mot de passe :</label>
    <input type="password" name="password"
    [(ngModel)]="user.password" class="form-control">
    </div>
    <div class="row justify-content-md-center">
    <button type="button" (click)="onLoggedin()"
    class="btn btn-success">Connexion</button>
    </div>
    </form>
    </div>
    </div> -->
    <div style="height: 100px;"></div>
    <div id="main-wrapper" class="container">
      <div class="row justify-content-center">
          <div class="col-xl-10">
              <div class="card border-0">
                  <div class="card-body p-0">
                      <div class="row no-gutters">
                          <div class="col-lg-6">
                              <div class="p-5">
                                  <div class="mb-5">
                                      <h3 class="h4 font-weight-bold text-theme">Login</h3>
                                  </div>

                                  <h6 class="h5 mb-0">Welcome back!</h6>
                                  <p class="text-muted mt-2 mb-5">Enter your email address and password to access admin panel.</p>
                                  <div class="alert alert-danger" *ngIf="erreur==1">
                                    <strong>login ou mot de passe erronés..</strong>
                                    </div>
                                  <form>
                                      <div class="form-group">
                                          <label for="exampleInputEmail1">Email address</label>
                                          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="user.username" name="username">
                                      </div>
                                      <div class="form-group mb-5">
                                          <label for="exampleInputPassword1">Password</label>
                                          <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="user.password">
                                      </div>
                                      <button type="submit" class="btn btn-theme" (click)="onLoggedin()">Login</button>
                                      <a href="#l" class="forgot-link float-right text-primary">Forgot password?</a>
                                  </form>
                              </div>
                          </div>

                          <div class="col-lg-6 d-none d-lg-inline-block">
                              <div class="account-block ">
                                  <div class="overlay "></div>
                                  <div class="account-testimonial">

                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
                  <!-- end card-body -->
              </div>
              <!-- end card -->

              <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="register.html" class="text-primary ml-1">register</a></p>

              <!-- end row -->

          </div>
          <!-- end col -->
      </div>
      <!-- Row -->
  </div>
