<!-- <div class="container">
    <div>
        <h2>Modifier un Employe :</h2>
    </div>
    <form>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label>ID Employe</label>
            <input readonly type="text" [(ngModel)]="currentEmploye.id" name="id" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>CIN </label>
            <input readonly type="text" [(ngModel)]="currentEmploye.cin" name="cin" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom </label>
            <input type="text" [(ngModel)]="currentEmploye.nom" name="nom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Prenom</label>
            <input type="text" [(ngModel)]="currentEmploye.prenom" name="prenom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date De Naissance</label>
            <input readonly type="date" [(ngModel)]="currentEmploye.dateNai" name="dateNai" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>n° de Téléphone</label>
            <input type="number" [(ngModel)]="currentEmploye.tel" name="tel" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Adresse</label>
            <input type="text" [(ngModel)]="currentEmploye.adresse" name="adresse" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Email</label>
            <input type="email" [(ngModel)]="currentEmploye.email" name="email" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date de Recructement</label>
            <input readonly type="date" [(ngModel)]="currentEmploye.dateRecrutement" name="dateRecrutement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Type Contrat</label>
            <input type="text" [(ngModel)]="currentEmploye.contrat" name="contrat" class="form-control">
        </div>


        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >poSTE </label>
        <select class="form-control form-control-lg" id="idPos" name="idPos"
        [(ngModel)]="updatedPosId">
        <option *ngFor="let pos of postes" [value]="pos.idPos" >
        {{pos.nomPos}}
        </option>
        </select>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Grade</label>
            <input type="text" [(ngModel)]="currentEmploye.grade" name="grade" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Salaire</label>
            <input type="number" [(ngModel)]="currentEmploye.salaire" name="salaire" class="form-control">
        </div> -->



<!--         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Username</label>
            <input type="text" [(ngModel)]="currentEmploye.username" name="username" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Mot De Pass</label>
            <input type="password" [(ngModel)]="currentEmploye.mdp" name="mdp" class="form-control">
        </div> -->
        <!-- <div class="mt-2">
            <button type="submit" class="btn btn-success" (click)="updateEmploye()">Ajouter</button>
        </div>
    </form>
</div> -->


<form style="margin-left: 500px">
  <h3 style="color: #009acd">Modifer Employee</h3>
  <div>
    <input
      type="number"
      id="nom"

      [(ngModel)]="currentEmploye.cin"
      name="cin"
      class="form-control"
    />
    <label for="nom">CIN</label>
  </div>
  <div>
    <input
      type="text"
      id="prenom"

      [(ngModel)]="currentEmploye.nom"
      name="nom"
      class="form-control"
    />
    <label for="prenom">NOM</label>
  </div>
  <div>
    <input
      type="text"
      id="mail"

      [(ngModel)]="currentEmploye.prenom"
      name="prenom"
      class="form-control"
    />
    <label for="mail">Prenom</label>
  </div>
  <div>
    <input
      type="date"
      id="6"

      [(ngModel)]="currentEmploye.dateNai"
      name="dateNai"
      class="form-control"
    />
    <label for="6">Date Naissance</label>
  </div>
  <div>
    <input
      type="tel"
      id="7"

      [(ngModel)]="currentEmploye.tel"
      name="tel"
      class="form-control"
    />
    <label for="7">tel</label>
  </div>
  <div>
    <input
      type="text"
      id="8"

      [(ngModel)]="currentEmploye.adresse"
      name="adresse"
      class="form-control"
    />
    <label for="8">Adresse</label>
  </div>
  <div>
    <input
      type="email"
      id="9"

      [(ngModel)]="currentEmploye.email"
      name="email"
      class="form-control"
    />
    <label for="9">Email</label>
  </div>
  <div>
    <input
      type="date"
      id="1"

      [(ngModel)]="currentEmploye.dateRecrutement"
      name="dateRecrutement"
      class="form-control"
    />
    <label for="1">Date Recructement</label>
  </div>
  <div>
    <input
      type="text"
      id="12"

      [(ngModel)]="currentEmploye.contrat"
      name="contrat"
      class="form-control"
    />
    <label for="12">Contrat</label>
  </div>

  <div>
    <input
      type="text"
      id="19"

      [(ngModel)]="currentEmploye.grade"
      name="grade"
      class="form-control"
    />
    <label for="19">Grade</label>
  </div>
  <div>
    <input
      type="text"
      id="18"

      [(ngModel)]="currentEmploye.salaire"
      name="salaire"
      class="form-control"
    />
    <label for="18">Salaire</label>
  </div>
  <div>
    <h3 class="text-info">Poste</h3>
    <select
      class="form-control form-control-lg"
      id="idPos"
      name="idPos"
      [(ngModel)]="updatedPosId"
    >
      <option *ngFor="let pos of postes" [value]="pos.idPos">
        {{ pos.nomPos }}
      </option>
    </select>
  </div>
  <br />
  <br />
  <input class="button" type="submit" value="Envoyer" (click)="updateEmploye()" />
</form>
