<div style="height: 50px"></div>
<div class="container ">
  <h1 class="text-center"></h1>
  <div class="text-center">

      <h2>
        Statistique
        <img src="https://img.icons8.com/fluency/48/null/combo-chart.png" />
      </h2>

    <br /><br />

    <hr />
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood"></div>
          <br />
          <div>
            <b> Nombre total des employes</b> <br />
            <img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/48/null/external-employee-business-model-canvas-wanicon-lineal-color-wanicon.png"/>
            <br>
            {{ countEmploye }}
          </div>

          <b></b>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood"></div>
          <br />
          <div>
            <b> Nombre total des départements</b>
            <br>
            <img src="https://img.icons8.com/color-glass/48/null/collaborating-in-circle.png"/>
            <br />
            {{ countDepartement }}
          </div>
          <b></b>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood"></div>
          <br />
          <div>
            <b> Nombre total des postes</b><br>
            <img src="https://img.icons8.com/external-xnimrodx-blue-xnimrodx/48/null/external-hiring-freelancer-xnimrodx-blue-xnimrodx.png"/>
            <br />
            {{ countPoste }}
          </div>
          <b></b>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="imm" style="height: 460px;"></div>
