
<body class="d-flex text-center text-bg-dark " style="height: 815px; background-color: #009acd;" >

<div class=" d-flex   p-3 mx-auto flex-column">
  <header class="mb-auto">
    <nav class="navbar navbar-dark " style="background-color:#009acd;" aria-label="First navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/38/null/external-employee-business-model-canvas-wanicon-lineal-color-wanicon.png"/> <b>Gestion RH</b> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        </button>

        <a style="font-size: 23px;" class="text-light" routerLink="/login"><b>login</b></a>

      </div>
    </nav>
  </header>

  <main class="px-3">
    <div class="row">
      <div class="col-sm-6">
        <div  style="background-color:#009acd;">
          <div class="card-body">
            <div class="blood">
            </div>
            <br>
            <br>
            <div>
              <img  src="assets/ct.png" height="300" width="400">

            </div>

            <b></b>

          </div>
        </div>
      </div>

      <div class="col-sm-6" >
        <div  style="background-color:#009acd;">
          <div class="card-body">
            <div class="blood">
            </div>
            <div style="height: 100px; background-color: #009acd;"></div>
            <div>
              <h1 class="text-light">Cover your page.</h1>
              <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
              <p class="lead">
                <a routerLink="/postuler" class="btn btn-lg btn-light fw-bold border-white bg-white">Postuler</a>
              </p>
            </div>

            <b></b>

          </div>
        </div>
      </div>


    </div>



  </main>

  <footer class="mt-auto text-white-50">
    <p>Web app <a href="https://getbootstrap.com/" class="text-white">Made By</a>, by <a href="https://twitter.com/mdo" class="text-white">@Chaima Guiras</a>.</p>
  </footer>
</div>



  </body>

<!-- <input type="button" value="Postuler" routerLink="/postuler"> -->
